.game {
    justify-self: center;
    grid-area: game;

    background-color: #F6511D;

    display: grid;
    grid-gap: 1px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

.cell {
    background-color: #70C1B3;
    width: 100px;
    height: 100px;
    
    display: grid;
}

.cell-text {
    align-self: center;
    justify-self: center;
}

